<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.amonshore.comikkua" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ComikkuApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_white"
        android:label="@string/app_name"
        android:backupAgent=".DataBackupAgent"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"
                    android:host="www.amonshore.it"
                    android:pathPrefix="/comikku" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amonshore.comikkua.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.comics.ComicsEditorActivity"
            android:label="@string/title_activity_comics_new"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amonshore.comikkua.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.release.ReleaseEditorActivity"
            android:label="@string/title_activity_release_editor"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amonshore.comikkua.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.comics.ComicsDetailActivity"
            android:label="@string/title_activity_comics_detail"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amonshore.comikkua.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amonshore.comikkua.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.options.DataOptionsActivity"
            android:label="@string/title_activity_data_options"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amonshore.comikkua.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.comics.ComicsCropActivity" >
        </activity>

        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIGkVxRFBXjGQXyVKPLMX7vPiupgFq7gl-iUlJLg" />

    </application>

</manifest>
